= form_for :drink, :url => {:controller => "drinks", :action => "create"} do |f|
  - if @drink.errors.any?
    #error_explanation
      %h2
        = pluralize(@drink.errors.count, "error")
        prohibited this drink from being saved:
      %ul
        - @drink.errors.full_messages.each do |message|
          %li= message
  .field-alcohol
    %label Alcohol
    - ['rum', 'whiskey', 'gin', 'beer', 'wine'].each do |alcohol|
      %label
        = f.radio_button(:alcohol, alcohol)
        = alcohol.humanize
  .field-amount
    = f.label :amount
    = radio_button_tag(:glass, "Shot")
    = label_tag 'shot', image_tag("shot.png")
    = radio_button_tag(:glass, "Solo")
    = label_tag 'solo', image_tag("solo.png")
    = radio_button_tag(:glass, "Shot")
    = label_tag 'gatorade', image_tag("gatorade.png")
    = radio_button_tag(:glass, "Shot")
    = label_tag 'water', image_tag("water.png")
    .hidden-number{:style => "display:none"}
      = f.number_field :amount
  .field-hunger
    = f.label :hunger
    %br/
    = f.number_field :hunger
  .field-mood
    = f.label :mood
    %br/
    = f.text_field :mood
  .actions
    = f.submit
