.container
  .sectioned
    %h2.logoed
      unplastered

    = form_for :drink, :url => {:controller => "drinks", :action => "create"} do |f|
      .jumbotron
        .row.form-push
          .col-md-4
            Type of Alcohol
          .col-md-8
            = f.text_field :alcohol, :class => "form-control"
        .row.form-push
          .col-md-4
            Amount
          .col-md-8
            = f.text_field :amount, :class => "form-control"
        .row.form-push
          .col-md-4
            How hungry are you?
          .col-md-8
            = f.text_field :hunger, :class => "form-control"
        .row.form-push
          .col-md-4
            What's your mood?
          .col-md-8
            = f.text_field :mood, :class => "form-control"
        .actions
          = f.submit :class => "btn btn-primary full-btn"
