= stylesheet_link_tag("drinks")

.container
  .sectioned
    %h2.logoed
      unplastered
    = form_for :drink, :url => {:controller => "drinks", :action => "create"} do |f|
      - if @drink.errors.any?
        #error_explanation
          %h2
            = pluralize(@drink.errors.count, "error")
            prohibited this drink from being saved:
          %ul
            - @drink.errors.full_messages.each do |message|
              %li= message
      .jumbotron
        .field-alcohol
          %label Alcohol
          - ['rum', 'whiskey', 'gin', 'beer', 'wine'].each do |alcohol|
            %label
              = f.radio_button(:alcohol, alcohol)
              = alcohol.humanize
        .field-amount
          = f.label :amount
          = radio_button_tag(:glass, "shot")
          = label_tag 'shot', image_tag("shot.png", id: "shot_pic")
          = radio_button_tag(:glass, "solo")
          = label_tag 'solo', image_tag("solo.png", id: "solo_pic")
          = radio_button_tag(:glass, "gatorade")
          = label_tag 'gatorade', image_tag("gatorade.png", id: "gatorade_pic")
          = radio_button_tag(:glass, "water")
          = label_tag 'water', image_tag("water.png", id: "water_pic")
          .hidden-number{:style => "display:none"}
            = f.number_field :amount
        #slider-range{:style => "display:none"}
        .field-hunger
          = f.label :hunger
          %br/
          #slider-hunger
          .hidden-hunger{:style => "display:none"}
            = f.number_field :hunger
        .field-mood
          = f.label :mood
          %br/
          = f.text_field :mood
        .actions
          %br/
          = f.submit :class => "btn btn-primary full-btn"
