= form_for :drink, :url => {:controller => "drinks", :action => "create"} do |f|
  - if @drink.errors.any?
    #error_explanation
      %h2
        = pluralize(@drink.errors.count, "error")
        prohibited this drink from being saved:
      %ul
        - @drink.errors.full_messages.each do |message|
          %li= message
  .field
    = radio_button_tag(:alcohol, "Vodka")
    = label_tag(:vodka, "Vodka")
    = radio_button_tag(:alcohol, "Rum")
    = label_tag(:rum, "Rum")
    = radio_button_tag(:alcohol, "Whiskye")
    = label_tag(:whiskey, "Whiskey")
    = radio_button_tag(:alcohol, "Gin")
    = label_tag(:gin, "Gin")
    = radio_button_tag(:alcohol, "Beer")
    = label_tag(:beer, "Beer")
    = radio_button_tag(:alcohol, "Wine")
    = label_tag(:wine, "Wine")
  .field
    = f.label :amount
    %br/
    = f.number_field :amount
  .field
    = f.label :hunger
    %br/
    = f.number_field :hunger
  .field
    = f.label :mood
    %br/
    = f.text_field :mood
  .actions
    = f.submit
